<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/ex2/formex02}">
名前：<input type="name" name="name"></input><br>
年齢：<input type="name" name="age"></input><br>
趣味(3つ)：<br><input type="name" name="hobbyList"></input><br>
<input type="name" name="hobbyList"></input><br>
<input type="name" name="hobbyList"></input><br>
<button type="submit">送信</button> 
</form>
</body>
</html>
